{% extends 'base.html' %}
{% load i18n static crispy_forms_tags bootstrap %}

{% block conteudo %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                    <h2>Confirmação de exclusão</h2>
                                            <h5>{% trans 'O seguinte item será removido. Você tem certeza que deseja remover?' %}</h5>

                    <form action="" method="post">
                    {% csrf_token %}
                    <ul>
                        <input type="hidden" value="{{ object.id }}" name="pk" />
                        <li>{{ object }}</li>
                    </ul>
                    <input type="submit" class="btn btn-danger" value="{% trans 'Confirmar' %}" name="confirm_delete" />
                    <input type="button" class="btn btn-secondary" value="Cancelar" onclick="window.history.go(-1); return false;" name="cancel"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{% static 'libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block scripts %}
    <!-- Datatables -->
    <script src="{% static 'libs/select2/select2.min.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function () {
            $('select').select2()
            $("#formulario").submit(function () {
                $("#submit").attr("disabled", true).val("Submetendo...");
                return true;
            });
        });
    </script>
{% endblock %}