{% load static %}
<footer class="footer">
            <div class="container">
                <div class="row logos" id="logos">
                    <div class="col-md col-sm col my-auto text-center">
                        <a href="//lais.ufrn.br" target="_blank" class="text-center">
                            <img src="{% static 'images/lais.png' %}" class="img-fluid logos" alt="" >
                        </a>
                    </div>

                    <div class="col-md col-sm col my-auto text-center">
                        <a href="//ufrn.br" target="_blank" class="text-center">
                            <img src="{% static 'images/ufrn.png' %}" class="img-fluid logos" alt="" >
                        </a>
                    </div>

                    <div class="col-md col-sm col my-auto text-center">
                        <a href="//ifrn.edu.br" target="_blank" class="text-center">
                            <img src="{% static 'images/ifrn.png' %}" class="img-fluid logos alt="">
                        </a>
                    </div>

                    <div class="col-md col-sm col my-auto text-center">
                        <a href="//natal.rn.gov.br/sms/" target="_blank" class="text-center">
                            <img src="{% static 'images/NATAL_SMS.png' %}" class="img-fluid logos" alt="" >
                        </a>
                    </div>

                    <div class="col-md col-sm col my-auto text-center">
                        <a href="//ebserh.gov.br/" target="_blank" class="text-center">
                            <img src="{% static 'images/logo-EBSERH.png' %}" class="img-fluid logos" alt="" >
                        </a>
                    </div>

                    <div class="col-md col-sm col my-auto text-center">
                        <a href="//huol.ebserh.gov.br/" target="_blank" class="text-center">
                            <img src="{% static 'images/logo-huol.png' %}" class="img-fluid logos" alt="" >
                        </a>
                    </div>
                </div>
            </div>
        </footer>
