{% extends 'base.html' %}
{% load i18n static crispy_forms_tags bootstrap %}

{% block conteudo %}
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <div class="row">
                    <iframe height="600px" width="100%" src="{{ url }}"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link href="{% static 'libs/select2/select2.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block scripts %}
    <!-- Datatables -->
    <script src="{% static 'libs/select2/select2.min.js' %}"></script>

    <script type="text/javascript">
    $(document).ready(function () {
            $('select').select2()
            $("#formulario").submit(function () {
                $("#submit").attr("disabled", true).val("Submetendo...");
                return true;
            });
        });
    </script>
{% endblock %}