{#<li class="has-submenu">#}
{#    <a href="#">#}
{#        <i class="remixicon-shield-cross-fill"></i>Sífilis#}
{#        <div class="arrow-down"></div>#}
{#    </a>#}
{##}
{#    <ul class="submenu">#}
{#        <li>#}
{#            <a href="{% url 'administracao:listar_distritos' %}">Exames</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'administracao:listar_bairros' %}">Monitoramento</a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'administracao:listar_habitacoes' %}">Indicadores</a>#}
{#        </li>#}
{##}
{#    </ul>#}
{#</li>#}
