{% extends "registration/base.html" %}

{% load i18n static bootstrap %}

{% block title %}
    <p class="text-muted mb-4 mt-3">{{ title }}</p>
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>{% blocktrans %}Please enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}</p>
        <form method="post">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit">{% blocktrans %}Change my password{% endblocktrans %}</button>
            </div>
        </form>
    {% else %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.{% endblocktrans %}</p>
    {% endif %}
    <div class="form-group mt-3 text-center">
        <a href="{% url 'login' %}">Ir para o Login</a>
    </div>
{% endblock %}