{% extends "registration/base.html" %}

{% load i18n static bootstrap %}

{% block title %}
    <p class="text-muted mb-4 mt-3">{{ title }}</p>
{% endblock %}

{% block content %}
    <p>{% blocktrans %}Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group mb-0 text-center">
            <button class="btn btn-primary btn-block" type="submit">{% blocktrans %}Reset my password{% endblocktrans %}</button>
        </div>
    </form>
    <div class="form-group mt-3 text-center">
        <a href="{% url 'login' %}">Ir para o Login</a>
    </div>
{% endblock %}